.header {
    position: absolute;
    top: 15px;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
}

.header__home, .header__favs {
    width: 50%;
    padding-bottom: 5px;
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.active {
    border-bottom: 2px solid white;
}

@media screen and (min-width: 768px) {
    .header {
        max-width: 250px;
        left: calc(50% - 125px);
    }
    .header__home, .header__favs {
        font-size: 1.2rem;
    }
}
