.token-item-detail {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 90%;
    min-width: 300px;
    height: 100%;
    margin: 50px auto 0;
    padding: 15px;
    background-color: var(--alternative-color);
    border: 3px solid var(--primary-color);
    border-radius: var(--border-radius);
    text-align: center;
}

.token-item-detail__symbol {
    font-size: 2rem;
    font-weight: 700;
}

.token-item-detail__name {
    font-size: 1.5rem;
    font-weight: 400;
}

.token-item-detail__price {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
}

.token-item-detail__fav {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
}

.token-item-detail__button > svg {
    width: 100%;
    height: 100%;
}
