.fav-tokens {
    width: 90%;
    margin: 25px auto;
}

.fav-tokens__title {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.fav-tokens__info {
    margin-bottom: 10px;
}

.fav-tokens-benefits__text {
    font-size: 1.2rem;
    margin-left: 20px;
}

@media screen and (min-width: 768px) {
    .fav-tokens__title {
        font-size: 3rem;
    }
    .fav-tokens__info {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    
    .fav-tokens-benefits__text {
        font-size: 2rem;
        margin-left: 20px;
    }
}
