.fund-account {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 50%;
    min-width: 300px;
    height: 400px;
    padding: 15px 10px;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
}


.fund-account__title {
    margin-bottom: 0.75rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
}


.fund-account__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fund-account__form > label {
    color: #7665ac;
}

.fund-account__form > label > .input--error {
    float: right;
    color: var(--red-color);
    font-size: 0.75rem;
}

.fund-account__form > label > input {
    width: 100%;
    margin: 0;
    margin-bottom: 8px;
    padding: 8px 16px;
    background: #d4d5d9;
    border: 1px solid var(--red-color);
    border-radius: 8px;
    font-family: 'Averta Regular';
    font-size: 1.25rem;
    color: var(--primary-color);
    outline: none;
}

.fund-account__form > label > input.valid {
    border-color: var(--green-color);
}


.fund-account__close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.5;
}

.fund-account__close:hover {
    opacity: 0.75;
}