@font-face {
  font-family: 'Averta Regular';
  src: local('Averta Regular'), url(./fonts/Averta-Regular.otf) format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: 'Averta ExtraBold';
  src: local('Averta ExtraBold'), url(./fonts/Averta-ExtraBold.otf) format('opentype');
  font-weight: bold;
}

:root {
  --primary-color: rgb(82, 39, 167);
  --secondary-color: #009FB7;
  --alternative-color: #EEE;
  --background-color: #F7F7F7;
  --red-color: #FF101F;
  --green-color: #98CE00;
  --border-radius: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: 'Averta Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 125px 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: var(--border-radius);
}
