@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap');

:root {
  --primary-color: #02182B;
  --secondary-color: #48B8D0;
  --alternative-color: #D6D6FF;
  --background-color: #F0F0FF;
  --red-color: #D7263D;
  --green-color: #4DAA57;
  --border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
